<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>508175556379-os73rbb3fktlhvf9hvnjtaljp19ri0f5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.508175556379-os73rbb3fktlhvf9hvnjtaljp19ri0f5</string>
	<key>API_KEY</key>
	<string>AIzaSyDbwA4jT_Sx0a4iIZAD2jnGBl1TlbQebhc</string>
	<key>GCM_SENDER_ID</key>
	<string>508175556379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appc.appGeb</string>
	<key>PROJECT_ID</key>
	<string>appgeb</string>
	<key>STORAGE_BUCKET</key>
	<string>appgeb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:508175556379:ios:933db262bb4980df77bdbe</string>
</dict>
</plist>